.box {
    padding: 40px 20px 25px;
    background: #272C35;
    border-radius: 5px;
    color: #fff;
    font-family: Arial;
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.text {
    width: 100%;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
textarea {
    width: 150px;
    height: 50px;
    margin-right: 15px;
    font-size: 16px;
}

button {
    padding: 15px 25px;
    border: 0;
    background: #9b4b52;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
}
